.nodata {
  margin: 20px auto;
  max-width: 500px;
  padding: 25px 35px 15px;
  background: #212121;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  text-align: center;

  &__title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
  }

  &__text {
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__link {
    display: inline;
    color: #3ea6ff;
  }

  &__button {
    width: 100%;
    padding: 10px;
    background: #393939;
    border-radius: 20px;
    color: white;
    font-weight: bold;

    &:hover {
      background: #4d4d4d;
    }
  }
}

.note {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  color: white;
}
