$main-color: hsla(0, 0%, 53.3%, 0.4);
$focus-color: hsla(0, 100%, 100%, 0.5);
$light: hsla(0, 100%, 100%, 0.88);

.search__bar {
  position: relative;
  overflow: hidden;
  border: 1px solid $main-color;
  border-radius: 20px;
  width: 250px;
  margin: 0 15px;
  transition: 1s;

  @media screen and (max-width: 540px) {
    margin: 0;
  }

  &:hover,
  &:focus {
    border-color: $focus-color;
  }
}

.search__input {
  background: none;
  padding: 10px 20px;
  font-weight: 600;
  color: $focus-color;
  width: 100%;
  overflow: hidden;
  transition: 1s;

  &:hover,
  &:focus {
    color: $light;
  }
  &::placeholder {
    color: $focus-color;
    font-weight: normal;
  }
  &:placeholder-shown {
    color: $main-color;
    font-weight: normal;
  }
}

.search__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  top: 0;
  right: 0;
  background: $main-color;

  & svg {
    width: 20px;
    height: 20px;
  }
}
