.login__form {
  margin: 20px auto;
  max-width: 350px;
  padding: 25px 35px 15px;
  background: #212121;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .form {
    &__field {
      margin-bottom: 25px;

      .error__message,
      .error__message-length {
        display: block;
        text-align: left;
        font-size: 12px;
        color: red;
        margin-left: 20px;
      }
    }
    &__label {
      margin-bottom: 10px;
      font-size: 16px;
      color: white;
    }

    &__input {
      font-size: 14px;
      width: 90%;
      height: 40px;
      background: transparent;
      border: 1px solid #4d4d4d;
      border-radius: 20px;
      padding: 0 15px;
      color: white;
      transition: 0.5s;

      &::placeholder{
        color: #545454;
      }
    }

    &__input:invalid,
    &__input.invalid {
      border: 1px solid red;
      transition: 0.5s;
    }

    &__button {
      width: 100%;
      padding: 10px;
      background: #393939;
      border-radius: 20px;
      color: white;
      font-weight: bold;
      margin-top: 20px;

      &:hover {
        background: #4d4d4d;
      }
    }
  }
}
