$dark-border: hsla(0, 0%, 53.3%, 0.4);
$light-border: hsla(0, 100%, 100%, 0.5);

.user__auth {
  color: $dark-border;
  transition: 1s;

  &.user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $dark-border;

    &:hover,
    &:focus,
    &:active {
      border-radius: 50%;
      border: 1px solid $light-border;
      transition: 1s;
    }
  }

  &:hover{
    color: $light-border;
    transition: 1s;
  }
}

.user__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inactive {
  display: none;
}
.active {
  display: block;
}
