<header class="header">
  <div class="header__toolbar">
    <div class="header__logo">
      <a class="logo__link" routerLink="">
        <img
          class="logo__sign"
          src="assets/icons/logo-sign.svg"
          alt="logo sign"
        />
        <img
          class="logo__text"
          src="assets/icons/logo-text.svg"
          alt="logo text"
        />
      </a>
    </div>
    <app-search-bar></app-search-bar>
    <app-settings
      (changeSortingVisibility)="showSorting($event)"
    ></app-settings>
  </div>
  <div class="header__user">
    <app-auth></app-auth>
  </div>

  <app-sorting
  *ngIf="isSortingShown"
  (sendSortingType)="makeSort($event)"
></app-sorting>
</header>
