<div class="search__item border">
  <a class="item__picture">
    <img class="item__image" src="assets/images/test-image.jpg" alt="" />
  </a>
  <ul class="item__data">
    <li class="data__element">
      <img class="views__icon" src="assets/icons/viewed.svg" alt="views icon" />
      1000
    </li>
    <li class="data__element">
      <img class="likes__icon" src="assets/icons/liked.svg" alt="likes icon" />
      680
    </li>
    <li class="data__element">
      <img
        class="dislikes__icon"
        src="assets/icons/dislike.svg"
        alt="dislikes icon"
      />
      320
    </li>
    <li class="data__element">
      <img
        class="comments__icon"
        src="assets/icons/comments.svg"
        alt="comments icon"
      />
      250
    </li>
  </ul>
  <h2 class="item__title">Item Title #</h2>
  <button class="item__button">more...</button>
</div>
