<div class="sorting">
  <h3 class="sorting__title">Sort results by:</h3>
  <button
    class="sorting__element"
    [ngClass]="sortby === 'default' ? 'active' : ''"
    (click)="setSortingBy('default')"
  >
    Default
  </button>
  <button
    class="sorting__element"
    [ngClass]="
      sortby === 'date' ? (direction ? 'up active' : 'down active') : ''
    "
    (click)="setSortingBy('date')"
  >
    Date
  </button>
  <button
    class="sorting__element"
    [ngClass]="
      sortby === 'views' ? (direction ? 'up active' : 'down active') : ''
    "
    (click)="setSortingBy('views')"
  >
    Views
  </button>
</div>
